body {
  padding: 100px 0 0 0;
  margin: 0;
}

.greeting {
  text-decoration: underline;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;

  background-color: black;
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 100;
}

nav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

nav ul li {
  margin: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:first-child {
  display: none;
}

@media (max-width: 800px){
  nav ul li {
    height: 80px;
    margin: 0;
    padding: 20px;
    text-align: center;
    line-height: 5;
  }

  nav li:hover:not(:first-child) {
    background-color: grey;
  }

  nav li:hover a {
    color: gold;
  }

  nav ul li:first-child {
    display: block;
    margin: 0;
    padding: 5px 0 0 0;
    height: 80px;
  }

  .hamburger-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-self: flex-start;
    margin-top: 0;
    background-color: black;

    height: 80px;
    overflow: hidden;
  }

  nav ul:hover {
    height: initial;
  }

  nav ul img {
    height: 50px;
  }
}


#carouselExampleControls {
  height: 80vh;
  overflow: hidden;
}

h3 {
  font-size: 3rem;
  text-align: center;
}

.section {
  display: flex;
}

.section p {
  font-size: 2rem;
  padding: 20px 40px;
}

.section img {
  max-height: 50vh;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-size: 2rem;
  height: 60vh;
}

.form input[type=checkbox] {
  transform: scale(2, 2) rotate(180deg);
}

.page {
  display: flex;
}

.side-nav {
  width: 150px;
}

.side-nav h4 {
  padding-left: 6px;
  margin-bottom: 0;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.side-nav li {
  cursor: pointer;
}

.side-nav li:hover {
  background-color: lightgray;
}

.side-nav a {
  text-decoration: none;
}

.side-nav li div {
  padding: 6px;
  color: black;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100vw - 150px);
  margin-bottom: 80px;
}

.shop-item {
  height: 200px;
  width: 200px;

  border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
  margin-right: 15px;
}

.shop-item img {
  height: 60%;
  margin: 8px;
  border-radius: 8px;
}

.shop-item span {
  font-size: 24px;
  color: darkgreen;
  font-weight: bold;
}

.shop-item button {
  background-color: gold;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

.spinning {
  animation: spin 2s forwards infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;

  background-color: #730;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer h3 {
  margin: 0;
  font-size: 20px;
}

footer img {
  height: calc(100% - 10px);
  margin-top: 5px;
  margin-bottom: 5px;
}
